@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pattern{
    background-image: url("/website-bg.png"), linear-gradient(#c9f2d7, #b0f7c9);
    height: 100vh;
    background-blend-mode: multiply;
}
